<% @links.each do |link| %>
  <div class="link now clearfix">
    <h2>
      <!-- ここでは下記2行は同じ結果になる -->
 <!-- <%= link_to link.title, link_path(link) %><br> -->
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
    </h2>
  </div>
<% end %>